/* Navbar style */
.navbar {
    background-color: #83acc7;
    min-height: 60px; /* Adjust the navbar's minimum height as needed */
    margin-bottom: 10px; /* Add a margin to separate it from the content below */
    display:flex;
}

.navbar-div {
    display: flex;
    flex-direction: column;

}

.navbar-brand {
    position: relative;
    /* align-self: center; */
    left: 50%
    /* text-align: center; */
}

.logout-link {
    position: relative;
    right: 10px;
}

#admin-logout {
    display:block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

/* Dashboard sidebar style */
.dashboard {
    width: 0px;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 2;
}

/* Toggle Dashboard button style */
#toggleDashboard {
    display: block; /* Make sure the button is initially visible */
    position: absolute;
    top: 10px; /* Adjust the top value to move the button down as needed */
    left: 10px; /* Adjust the left position as needed */
    z-index: 0;

    
}

/* Style the sidebar links */
.dashboard ul li {
    padding: 16px;
    text-align: center;
    font-size: 25px;
    color: #e3e0e0;
    display: block;
    transition: 0.3s;
}

/* Style for the sidebar links when hovered over */
.dashboard ul li:hover {
    color: #f1f1f1;
}

/* Custom styling for the Toggle Dashboard button */
.custom-button {
    /* You can add more styles here if needed */
    height: 50px;
}

#admin-dashboard-x {
    position:absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: transparent;
    border-radius: 10%;
    border-color: transparent;
}

#admin-dashboard-x:hover {
    background-color: #818181;
}