<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark form-row">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('adminprofile', username=username) }}" style="color: aqua">Home</a>
                    </li>
                </ul>
                <h3 style=color:aqua;align-items:center;>Admin {{ admin_id }}</h3>
            </div>
        </nav>
    </body>
</html>