<!DOCTYPE html>
<html>
<head>
    <title>Project Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark form-row">
        <a class="navbar-brand" href="#" style="color: aqua">Project Page</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('studentprofile', username=srn) }}" style="color: aqua">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('teampage', srn=srn,team_id=team_id) }}" style="color: aqua">Team Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('reviewpage', srn=srn,team_id=team_id) }}" style="color: aqua">Reviews</a>
                </li>
            </ul>
            <h3 style=color:aqua;align-items:center;>Team {{ team_id }}</h3>
        </div>
    </nav>


    <!DOCTYPE html>
<html>
<head>
    <title>Status of Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .box {
            width: 32%; /* Adjust the width as needed */
            height: 700px; /* Adjust the height as needed */
            border: 3px solid #000;
            text-align: center;
            display: inline-block;
            /* margin: 5px; */
            padding: 0px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 5px;
            margin-right: 5px;
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <h1>Project Details</h1>
        <table class="table">
            
            <tr>
                <td style=font-weight:bold>Problem Statement</td>
                <td>{{ problem_statement }}</td>
            </tr>
            <tr>
                <td style=font-weight:bold>Domain</td>
                <td>{{ domain }}</td>
            </tr>
            <tr>
                <td style=font-weight:bold>Start Date</td>
                <td>{{ start_d }}</td>
            </tr>
            <tr>
                <td style=font-weight:bold>End Date</td>
                <td>{{ end_d }}</td>
            </tr>
            <tr>
                <td style=font-weight:bold>Current Phase</td>
                <td>{{ cur_phase }}</td>
            </tr>
        </table>
    </div>
    
    {% if cur_phase >= 1 %}
    <div class="box">
        <h3>PHASE 1 - SEMESTER 6</h3>
    </div>
    {% endif %}
    
    {% if cur_phase >= 2 %}
    <div class="box">
        <h3>PHASE 2 - SEMESTER 7</h3>
    </div>
    {% endif %}
    
    {% if cur_phase >= 3 %}
    <div class="box">
        <h3>PHASE 3 - SEMESTER 8</h3>
    </div>
    {% endif %}

</body>
</html>
