<!DOCTYPE html>
<html>
<head>
    <title>Status of Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .box {
            width: 32%; /* Adjust the width as needed */
            height: 700px; /* Adjust the height as needed */
            border: 3px solid #000;
            text-align: center;
            display: inline-block;
            /* margin: 5px; */
            padding: 0px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 5px;
            margin-right: 5px;
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark form-row">
        <a class="navbar-brand" href="#" style=align-items:center>Status of Project</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('studentprofile', username=srn)}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('teampage', srn=srn, team_id=team_id) }}">Return to Team Page</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>