<!DOCTYPE html>
<html>
<head>
    <title>Teacher Profile Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .body {
            background-color: #ffffff;
            color: white;
        }

        .navbar {
            background-color: #333;
        }

        .navbar a {
            color: aqua;
        }

        .container {
            margin-top: 20px;
        }

        h1, h2 {
            color: rgb(0, 0, 0);
        }

        p {
            color: #000000;
        }
    </style>
</head>
<body class="body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Teacher Profile</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Welcome, {{ first_name }}</a>
                </li>
                {% if isSupervisor %}
                <li>
                    <a class="nav-link" href="{{ requestslink }}" style="color: aqua">View Requests</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Welcome, {{ first_name }} {{ last_name }}</h1>
        <h2>Teacher Dashboard</h2>
        <form method="POST" action="{{ url_for('teacherprofile', username=username) }}" enctype="multipart/form-data">
            <div class="form-group">
                <!-- <label for="email">Email:</label> -->
                <p>Email: {{ email_id }}</p>
            </div>
        </form>
    </div>
</body>
</html>
